In [1]:
import pandas as pd
import numpy as np

In [2]:
og_df = pd.read_csv("TMDB_all_movies.csv")
og_df

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,budget,imdb_id,...,genres,production_companies,production_countries,spoken_languages,cast,director,director_of_photography,writers,producers,music_composer
0,2,Ariel,7.100,309.0,Released,1988-10-21,0.0,73.0,0.0,tt0094675,...,"Drama, Comedy, Romance, Crime",Villealfa Filmproductions,Finland,suomi,"Pekka Wilen, Reijo Marin, Kari Helaseppä, Veik...",Aki Kaurismäki,Timo Salminen,Aki Kaurismäki,Aki Kaurismäki,NaN
1,3,Shadows in Paradise,7.296,357.0,Released,1986-10-17,0.0,74.0,0.0,tt0092149,...,"Drama, Comedy, Romance",Villealfa Filmproductions,Finland,"suomi, English, svenska","Tanja Talaskivi, Jukka Mäkinen, Mato Valtonen,...",Aki Kaurismäki,Timo Salminen,Aki Kaurismäki,Mika Kaurismäki,NaN
2,5,Four Rooms,5.829,2564.0,Released,1995-12-09,4257354.0,98.0,4000000.0,tt0113101,...,Comedy,"Miramax, A Band Apart",United States of America,English,"Tamlyn Tomita, Madonna, Danny Verduzco, Salma ...","Alexandre Rockwell, Robert Rodriguez, Quentin ...","Phil Parmet, Guillermo Navarro, Andrzej Sekula...","Alexandre Rockwell, Allison Anders, Quentin Ta...","Lawrence Bender, Alexandre Rockwell, Quentin T...",Combustible Edison
3,6,Judgment Night,6.500,323.0,Released,1993-10-15,12136938.0,109.0,21000000.0,tt0107286,...,"Action, Crime, Thriller","Largo Entertainment, JVC, Universal Pictures",United States of America,English,"Doug Wert, Darin Mangan, Stephen Dorff, Nigel ...",Stephen Hopkins,Peter Levy,"Lewis Colick, Jere Cunningham","Gene Levy, Marilyn Vance, Lloyd Segan",Alan Silvestri
4,8,Life in Loops (A Megacities RMX),7.500,27.0,Released,2006-01-01,0.0,80.0,42000.0,tt0825671,...,Documentary,inLoops,Austria,"English, हिन्दी, 日本語, Pусский, Español",NaN,Timo Novotny,Wolfgang Thaler,"Michael Glawogger, Timo Novotny","Ulrich Gehmacher, Timo Novotny",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938887,1296922,Ivar Lo-Johansson,0.000,0.0,Released,NaN,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
938888,1296923,L'angle de nos poignets,0.000,0.0,Released,NaN,0.0,33.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rémi Dayre,NaN,NaN,NaN,NaN
938889,1296925,Caiu,0.000,0.0,Released,NaN,0.0,0.0,0.0,tt28945256,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
938890,1296926,Campos Belos,0.000,0.0,Released,NaN,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
938891,2662126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"Johannes Allmayer, Jules Waringo, Vicky Krieps...",Florian Gallenberger,Kolja Brandt,"Florian Gallenberger, Torsten Wenzel, Tom Kinn...","Nicolas Steil, Benjamin Herrmann",NaN

In [3]:
og_df.nunique()

id                         938892
title                      802451
vote_average                 4498
vote_count                   3754
status                          6
release_date                42544
revenue                     14892
runtime                       706
budget                       5541
imdb_id                    563440
original_language             173
original_title             836780
overview                   764080
popularity                  26710
tagline                    134905
genres                      13468
production_companies       203304
production_countries        10301
spoken_languages             6555
cast                       589291
director                   312812
director_of_photography     77437
writers                    315308
producers                  209550
music_composer              30701
dtype: int64

In [4]:
null_values = (og_df.isnull().sum() / len(og_df)) * 100
null_values = null_values.round(2) 
null_values

id                          0.00
title                       0.00
vote_average                0.00
vote_count                  0.00
status                      0.00
release_date                9.67
revenue                     0.00
runtime                     0.00
budget                      0.00
imdb_id                    39.98
original_language           0.00
original_title              0.00
overview                   16.79
popularity                  0.00
tagline                    85.23
genres                     28.93
production_companies       53.78
production_countries       38.70
spoken_languages           38.18
cast                       32.86
director                   17.41
director_of_photography    76.34
writers                    51.70
producers                  68.52
music_composer             90.36
dtype: float64

In [5]:
df = og_df.copy()

In [6]:
num_zeros = (df['vote_count'] == 0).sum()
num_zeros

588927

In [7]:
df['original_language'].value_counts()

original_language
en    473689
fr     59137
es     53431
de     45687
ja     40746
       ...
aa         1
kg         1
gv         1
ki         1
nr         1
Name: count, Length: 173, dtype: int64

In [8]:
df = df.drop(columns=['music_composer','tagline','director_of_photography','imdb_id','status','budget','revenue','vote_average','vote_count','original_title','popularity','production_companies','production_countries','runtime', 'spoken_languages', 'producers'])

In [9]:
format_string = '%Y-%m-%d'

df['release_date'] = pd.to_datetime(df['release_date'], format=format_string, errors='coerce')

In [10]:
df.head(1)

,id,title,release_date,original_language,overview,genres,cast,director,writers
0,2,Ariel,1988-10-21,fi,After the coal mine he works at closes and his...,"Drama, Comedy, Romance, Crime","Pekka Wilen, Reijo Marin, Kari Helaseppä, Veik...",Aki Kaurismäki,Aki Kaurismäki

In [11]:
df = df.dropna()

In [12]:
df

,id,title,release_date,original_language,overview,genres,cast,director,writers
0,2,Ariel,1988-10-21,fi,After the coal mine he works at closes and his...,"Drama, Comedy, Romance, Crime","Pekka Wilen, Reijo Marin, Kari Helaseppä, Veik...",Aki Kaurismäki,Aki Kaurismäki
1,3,Shadows in Paradise,1986-10-17,fi,"Nikander, a rubbish collector and would-be ent...","Drama, Comedy, Romance","Tanja Talaskivi, Jukka Mäkinen, Mato Valtonen,...",Aki Kaurismäki,Aki Kaurismäki
2,5,Four Rooms,1995-12-09,en,It's Ted the Bellhop's first night on the job....,Comedy,"Tamlyn Tomita, Madonna, Danny Verduzco, Salma ...","Alexandre Rockwell, Robert Rodriguez, Quentin ...","Alexandre Rockwell, Allison Anders, Quentin Ta..."
3,6,Judgment Night,1993-10-15,en,"Four young friends, while taking a shortcut en...","Action, Crime, Thriller","Doug Wert, Darin Mangan, Stephen Dorff, Nigel ...",Stephen Hopkins,"Lewis Colick, Jere Cunningham"
6,11,Star Wars,1977-05-25,en,Princess Leia is captured and held hostage by ...,"Adventure, Action, Science Fiction","Harrison Ford, Drewe Henley, Ted Burnett, Garr...",George Lucas,George Lucas
...,...,...,...,...,...,...,...,...,...
938778,1296792,Secret,2021-10-05,de,A pregnant woman on the run from her abusive h...,"Horror, Mystery","Susanne Edl, Jacqueline Kaulfersch, Clemens Fr...",René Müller,Kornelia Müller
938781,1296795,Behind - The Christmas King: In Full Armor,2015-11-13,no,"A Behind the Scenes documentary about ""Julekon...","Family, Fantasy, Adventure, Documentary","André Eriksen, Thale Persen, Lars Gudmestad, T...",Bakomkongen,Bakomkongen
938784,1296798,In The Woods,2022-10-05,en,A man goes into the woods to camp. Turns out h...,Horror,Alexander Fürbass,René Müller,René Müller
938792,1296806,The Lovers of the Hotel Osman,2001-06-01,de,Ahmet and Ili are in love with one another and...,Comedy,"Fatih Akin, Gürsel Erdogan, İdil Üner, Cihan A...",İdil Üner,İdil Üner
938793,1296807,East End,2024-10-26,en,"A recovering alcoholic, with a gambling addict...",Drama,"Jon Laureles, Kevin Tarlton, Kim Madden, Cher ...",Nathan Fleet,Nathan Fleet

In [13]:
df.isnull().sum()

id                   0
title                0
release_date         0
original_language    0
overview             0
genres               0
cast                 0
director             0
writers              0
dtype: int64

In [14]:
df.duplicated().sum()

0

In [15]:
import random

if len(df) > 10000:
  df = df.sample(10000, random_state=42)
else:
  df = df.copy()  

df = df.reset_index(drop=True)
df.duplicated().sum()

0

In [16]:
df.iloc[0].genres

'Drama, Science Fiction'

In [17]:
df.head(3)

,id,title,release_date,original_language,overview,genres,cast,director,writers
0,1237571,Kenali,2021-02-21,id,"Leo, a nostalgist, tries to fulfill his client...","Drama, Science Fiction","Donikus Indarto, Laela Wulandari, Anas Prayogo...",Destian Rendra,"Destian Rendra, Sarah Qodriyani"
1,359064,Stagecoach Days,1938-06-19,en,Western featuring a thrilling stagecoach race.,Western,"Jack Luden, Slim Whitaker, Eleanor Stewart, Ja...",Joseph Levering,Nate Gatzert
2,81041,Ninja Warriors,1985-06-01,en,Steve is a Ninja. He's been called in by the p...,Action,"Ronald L. Marchini, Paul Vance, Romano Kristof...",Teddy Chiu,Ken Watanabe

In [18]:
df['overview'][0]

'Leo, a nostalgist, tries to fulfill his client\'s dream, Mr. Edi, to own a house with the exact same design as his old house. After hearing Pak Edi\'s story about his feelings for Mrs. Lina, his late wife, Leo felt pressed to find a love story with someone. Leo watched an ad for an app called Get to know, ""you\'re not the only one who feels alone. There are lots of other people who feel it too. why not try together? ""Kenali"" now!'

In [19]:
df['overview']=df['overview'].apply(lambda x:x.split())

In [20]:
df['genres'] = df['genres'].apply(lambda x: ''.join(i.replace(" ", "") for i in x))
df['cast'] = df['cast'].apply(lambda x: ''.join(i.replace(" ", "") for i in x))
df['director'] = df['director'].apply(lambda x: ''.join(i.replace(" ", "") for i in x))
df['writers'] = df['writers'].apply(lambda x: ''.join(i.replace(" ", "") for i in x))

In [21]:
df.head(3)

,id,title,release_date,original_language,overview,genres,cast,director,writers
0,1237571,Kenali,2021-02-21,id,"[Leo,, a, nostalgist,, tries, to, fulfill, his...","Drama,ScienceFiction","DonikusIndarto,LaelaWulandari,AnasPrayogo,Moch...",DestianRendra,"DestianRendra,SarahQodriyani"
1,359064,Stagecoach Days,1938-06-19,en,"[Western, featuring, a, thrilling, stagecoach,...",Western,"JackLuden,SlimWhitaker,EleanorStewart,JackIngr...",JosephLevering,NateGatzert
2,81041,Ninja Warriors,1985-06-01,en,"[Steve, is, a, Ninja., He's, been, called, in,...",Action,"RonaldL.Marchini,PaulVance,RomanoKristoff,Nick...",TeddyChiu,KenWatanabe

In [22]:
separator = ','


df['overview'] = df['overview'].apply(lambda x: separator.join(x) if x is not None else None)

In [23]:
df['tags'] =  df['original_language'] + ","+df['overview'] + df['genres'] + df['cast'] + df['director'] +df['writers']

In [24]:
df.head(3)

,id,title,release_date,original_language,overview,genres,cast,director,writers,tags
0,1237571,Kenali,2021-02-21,id,"Leo,,a,nostalgist,,tries,to,fulfill,his,client...","Drama,ScienceFiction","DonikusIndarto,LaelaWulandari,AnasPrayogo,Moch...",DestianRendra,"DestianRendra,SarahQodriyani","id,Leo,,a,nostalgist,,tries,to,fulfill,his,cli..."
1,359064,Stagecoach Days,1938-06-19,en,"Western,featuring,a,thrilling,stagecoach,race.",Western,"JackLuden,SlimWhitaker,EleanorStewart,JackIngr...",JosephLevering,NateGatzert,"en,Western,featuring,a,thrilling,stagecoach,ra..."
2,81041,Ninja Warriors,1985-06-01,en,"Steve,is,a,Ninja.,He's,been,called,in,by,the,p...",Action,"RonaldL.Marchini,PaulVance,RomanoKristoff,Nick...",TeddyChiu,KenWatanabe,"en,Steve,is,a,Ninja.,He's,been,called,in,by,th..."

In [25]:
newdf = df[['id', 'title', 'release_date', 'tags']]

In [26]:
newdf['tags'] = newdf['tags'].apply(lambda x: " ".join(x.split(",")) if isinstance(x, str) else x)

C:\Users\HP\AppData\Local\Temp\ipykernel_16736\3419395726.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['tags'] = newdf['tags'].apply(lambda x: " ".join(x.split(",")) if isinstance(x, str) else x)

In [27]:
newdf

,id,title,release_date,tags
0,1237571,Kenali,2021-02-21,id Leo a nostalgist tries to fulfill his cli...
1,359064,Stagecoach Days,1938-06-19,en Western featuring a thrilling stagecoach ra...
2,81041,Ninja Warriors,1985-06-01,en Steve is a Ninja. He's been called in by th...
3,54339,Abbas in Flower,1982-09-01,tr While working as an assistant to swindling ...
4,861467,Havana Connection,1994-12-12,en DTV actioner set in Cuba.Action ThrillerRob...
...,...,...,...,...
9995,296456,Christian Mingle,2014-10-10,en A young modern single woman enters the wor...
9996,593842,While,2019-02-04,pt Dalila and Virgínia mother and daughter m...
9997,284283,Trapped,2014-11-18,en On Laura's 27th birthday her and six frien...
9998,183035,O Vigilante,1992-09-01,pt An unemployed man gets a job as night watch...
9999,737759,Camp Murder,2020-08-09,en Tommy Heller has been locked away in a ment...

In [28]:
newdf['tags']=newdf['tags'].apply(lambda x:x.lower())

C:\Users\HP\AppData\Local\Temp\ipykernel_16736\3394916160.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['tags']=newdf['tags'].apply(lambda x:x.lower())

In [29]:
import nltk

In [30]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [31]:
def stem(text):
    y = []

    for i in text.split():
        y.append(ps.stem(i))


    return ' '.join(y)

In [32]:
newdf['tags']=newdf['tags'].apply(stem)

C:\Users\HP\AppData\Local\Temp\ipykernel_16736\4106654298.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['tags']=newdf['tags'].apply(stem)

In [33]:
from sklearn.feature_extraction.text import TfidfVectorizer
cv = TfidfVectorizer(max_features=1000,stop_words='english')

In [34]:
vectors = cv.fit_transform(newdf['tags']).toarray()

In [35]:
from sklearn.metrics.pairwise import cosine_similarity

In [36]:
outer_batch_size = 1000  
inner_batch_size = 10  
num_vectors = vectors.shape[0]

similarities = []

for i in range(0, num_vectors, outer_batch_size):
    start = i
    end = min(i + outer_batch_size, num_vectors)
    batch_vectors = vectors[start:end]
    
    batch_similarities = []
    for j in range(0, num_vectors, inner_batch_size):
        inner_start = j
        inner_end = min(j + inner_batch_size, num_vectors)
        inner_batch = vectors[inner_start:inner_end]
        inner_batch_similarities = cosine_similarity(batch_vectors, inner_batch)
        batch_similarities.append(inner_batch_similarities)
    
    batch_similarities = np.concatenate(batch_similarities, axis=1)
    
    similarities.append(batch_similarities)

similarity_matrix = np.concatenate(similarities, axis=0)

cv.get_feature_names_out()

array(['10', '12', '17', '20', 'abandon', 'abl', 'abus', 'accept',
       'accid', 'accident', 'accompani', 'accus', 'act', 'action',
       'activ', 'actor', 'actress', 'actual', 'adam', 'adapt', 'adopt',
       'adult', 'adventur', 'affair', 'affect', 'age', 'agent', 'ago',
       'agre', 'aid', 'air', 'alien', 'allow', 'alon', 'alreadi', 'alway',
       'america', 'american', 'ancient', 'angel', 'ani', 'anim', 'anna',
       'anoth', 'answer', 'anyth', 'apart', 'appear', 'ar', 'area', 'arm',
       'armi', 'arrest', 'arriv', 'art', 'artist', 'ask', 'aspir',
       'assassin', 'assign', 'assist', 'attack', 'attempt', 'attend',
       'attent', 'attract', 'aunt', 'author', 'award', 'away', 'babi',
       'bad', 'band', 'bank', 'bar', 'base', 'battl', 'beach', 'bear',
       'beauti', 'becam', 'becaus', 'becom', 'befor', 'begin', 'believ',
       'belong', 'belov', 'best', 'better', 'big', 'biggest', 'birth',
       'birthday', 'black', 'blood', 'bn', 'board', 'bodi', 'bond',
       'book', 'border', 'born', 'boss', 'box', 'boy', 'boyfriend',
       'break', 'brien', 'bring', 'british', 'broken', 'brother',
       'brought', 'brutal', 'build', 'busi', 'businessman', 'buy', 'came',
       'camera', 'camp', 'captain', 'captur', 'car', 'care', 'career',
       'carri', 'case', 'cast', 'cat', 'catch', 'caught', 'caus',
       'celebr', 'center', 'centuri', 'certain', 'challeng', 'chanc',
       'chang', 'charact', 'charg', 'chase', 'chief', 'child',
       'childhood', 'children', 'chines', 'choic', 'choos', 'christian',
       'christma', 'church', 'cinema', 'citi', 'city', 'civil', 'claim',
       'class', 'classic', 'close', 'club', 'cn', 'cold', 'colleagu',
       'collect', 'colleg', 'come', 'comedi', 'comic', 'command',
       'commit', 'common', 'commun', 'compani', 'complet', 'complic',
       'concert', 'conflict', 'confront', 'connect', 'connor', 'consid',
       'continu', 'control', 'convict', 'convinc', 'cop', 'corrupt',
       'countri', 'country', 'coupl', 'cours', 'court', 'cousin', 'cover',
       'crash', 'creat', 'creatur', 'crew', 'crim', 'crime', 'crimin',
       'cross', 'cultur', 'cut', 'da', 'dad', 'daili', 'danc', 'dancer',
       'danger', 'dark', 'date', 'daughter', 'david', 'day', 'dead',
       'deadli', 'deal', 'death', 'decid', 'decis', 'deep', 'demon',
       'depict', 'desert', 'design', 'desir', 'desper', 'despit',
       'destroy', 'detect', 'determin', 'develop', 'did', 'die', 'differ',
       'difficult', 'direct', 'director', 'disappear', 'discov', 'divorc',
       'doctor', 'documentari', 'doe', 'doesn', 'dog', 'don', 'door',
       'dr', 'drama', 'dream', 'drive', 'driver', 'drug', 'dure', 'earli',
       'earth', 'east', 'effort', 'el', 'elderli', 'embark', 'emot',
       'employe', 'en', 'encount', 'end', 'enemi', 'engag', 'english',
       'enter', 'entir', 'es', 'escap', 'estrang', 'eve', 'event',
       'eventu', 'everi', 'everyon', 'everyth', 'evil', 'ex', 'exchang',
       'excit', 'execut', 'exist', 'expect', 'experi', 'explor', 'expos',
       'extrem', 'eye', 'fa', 'face', 'fact', 'fail', 'faith', 'fall',
       'fame', 'famili', 'family', 'famou', 'fan', 'fantasi', 'far',
       'farm', 'fashion', 'fate', 'father', 'fear', 'featur', 'feel',
       'fellow', 'femal', 'fi', 'fiction', 'field', 'fight', 'figur',
       'film', 'filmmak', 'final', 'financi', 'fish', 'flee', 'fli',
       'focus', 'follow', 'food', 'footag', 'footbal', 'forc', 'foreign',
       'forest', 'form', 'fortun', 'fr', 'franc', 'frank', 'free',
       'freedom', 'french', 'friend', 'friends', 'friendship', 'fun',
       'futur', 'gain', 'game', 'gang', 'gangster', 'gather', 'gay',
       'gener', 'georg', 'german', 'ghost', 'gift', 'girl', 'girlfriend',
       'given', 'god', 'goe', 'gold', 'gone', 'good', 'got', 'govern',
       'great', 'greatest', 'green', 'group', 'grow', 'guest', 'guid',
       'gun', 'guy', 'ha', 'half', 'hand', 'handsom', 'hang', 'happen',
       'happi', 'hard', 'haunt', 'head', 'hear', 'heart', 'held', 'help',
       'henri', 'hero', 'hi', 'hidden', 'hide', 'high', 'hire', 'histori',
       'hit', 'ho', 'hold', 'holiday', 'hollywood', 'home', 'hometown',
       'hong', 'hope', 'horror', 'hospit', 'host', 'hot', 'hotel', 'hour',
       'hous', 'house', 'howev', 'human', 'hunt', 'hunter', 'husband',
       'id', 'idea', 'ident', 'ii', 'ill', 'imag', 'imagin', 'import',
       'includ', 'independ', 'indian', 'industri', 'inform', 'inherit',
       'innoc', 'insid', 'inspector', 'inspir', 'instead', 'intent',
       'intern', 'interview', 'introduc', 'investig', 'invit', 'involv',
       'island', 'isn', 'isol', 'italian', 'ja', 'jack', 'jail', 'japan',
       'japanes', 'jean', 'jin', 'job', 'joe', 'john', 'join',
       'journalist', 'journey', 'joy', 'jr', 'just', 'kid', 'kidnap',
       'kill', 'killer', 'kind', 'king', 'know', 'known', 'ko', 'kong',
       'la', 'ladi', 'land', 'larg', 'late', 'later', 'law', 'lawyer',
       'le', 'lead', 'leader', 'learn', 'leav', 'led', 'left', 'legend',
       'legendari', 'let', 'letter', 'lie', 'life', 'light', 'like',
       'line', 'littl', 'live', 'lives', 'lo', 'local', 'locat', 'london',
       'lone', 'long', 'look', 'lord', 'lose', 'loss', 'lost', 'lot',
       'love', 'lover', 'low', 'magic', 'main', 'major', 'make', 'man',
       'manag', 'mani', 'mari', 'maria', 'marie', 'mark', 'marri',
       'marriag', 'martin', 'master', 'matter', 'mean', 'meanwhil',
       'media', 'meet', 'member', 'memori', 'men', 'mental', 'met',
       'mexico', 'michael', 'middl', 'middle', 'militari', 'million',
       'min', 'mind', 'miss', 'mission', 'mix', 'ml', 'model', 'modern',
       'moment', 'money', 'monster', 'month', 'morn', 'mother',
       'mountain', 'movi', 'mr', 'murder', 'mus', 'music', 'musician',
       'mysteri', 'narrat', 'nation', 'natur', 'nazi', 'near', 'need',
       'neighbor', 'neighborhood', 'neil', 'new', 'news', 'nick', 'night',
       'nightmar', 'nl', 'north', 'noth', 'novel', 'number', 'nurs',
       'obsess', 'offer', 'offic', 'offici', 'old', 'older', 'onc',
       'onli', 'open', 'oper', 'opera', 'opportun', 'order', 'organ',
       'origin', 'orphan', 'outsid', 'overcom', 'owner', 'pain', 'paint',
       'painter', 'pair', 'parent', 'parents', 'pari', 'park', 'parti',
       'partner', 'pass', 'passion', 'past', 'path', 'paul', 'pay',
       'peac', 'peopl', 'people', 'perfect', 'perform', 'period',
       'person', 'peter', 'phone', 'photograph', 'pick', 'pictur', 'piec',
       'pilot', 'pl', 'place', 'plan', 'planet', 'plant', 'play',
       'player', 'plot', 'point', 'polic', 'polit', 'poor', 'popular',
       'portrait', 'possibl', 'post', 'power', 'pregnant', 'prepar',
       'present', 'presid', 'prevent', 'priest', 'princ', 'prison',
       'privat', 'problem', 'process', 'produc', 'product', 'profession',
       'professor', 'program', 'project', 'promis', 'prostitut',
       'protect', 'prove', 'provid', 'pt', 'public', 'pull', 'pursu',
       'queen', 'quest', 'question', 'quickli', 'quiet', 'quit', 'race',
       'rais', 'rape', 'reach', 'read', 'readi', 'real', 'realiti',
       'realiz', 'realli', 'reason', 'receiv', 'recent', 'record', 'red',
       'refus', 'relat', 'relationship', 'releas', 'remain', 'rememb',
       'remot', 'report', 'rescu', 'research', 'resid', 'resist',
       'respect', 'respons', 'rest', 'result', 'retir', 'return',
       'reunit', 'reveal', 'reveng', 'revenge', 'revolv', 'rich', 'ride',
       'right', 'ring', 'rise', 'risk', 'rival', 'river', 'road', 'rob',
       'robert', 'rock', 'role', 'rom', 'romanc', 'romant', 'room', 'ru',
       'ruin', 'rule', 'run', 'russian', 'ruthless', 'sam', 'san', 'save',
       'say', 'scene', 'scheme', 'school', 'sciencefict', 'scientist',
       'sea', 'search', 'second', 'secret', 'secur', 'seduc', 'seek',
       'seen', 'self', 'sell', 'send', 'sent', 'separ', 'seri', 'serial',
       'serv', 'servic', 'set', 'settl', 'seven', 'sever', 'sex',
       'sexual', 'share', 'ship', 'shock', 'shoot', 'shop', 'short',
       'shot', 'sight', 'sign', 'silent', 'simpl', 'sinc', 'sing',
       'singer', 'singl', 'sinist', 'sister', 'situat', 'sleep', 'small',
       'smith', 'social', 'societi', 'society', 'soldier', 'solv',
       'someon', 'someth', 'son', 'song', 'soon', 'soul', 'sound',
       'south', 'soviet', 'space', 'speak', 'special', 'spend', 'spi',
       'spirit', 'stage', 'stand', 'star', 'start', 'state', 'station',
       'stay', 'steal', 'step', 'stolen', 'stop', 'store', 'stori',
       'story', 'strang', 'stranger', 'street', 'strike', 'strong',
       'struggl', 'student', 'studi', 'subject', 'success', 'sudden',
       'suddenli', 'suffer', 'suicid', 'summer', 'sun', 'support',
       'surpris', 'surround', 'surviv', 'survivor', 'suspect', 'sv', 'ta',
       'taken', 'tale', 'talent', 'talk', 'target', 'task', 'te', 'teach',
       'teacher', 'team', 'teen', 'teenag', 'televis', 'tell', 'term',
       'terrifi', 'terror', 'terrorist', 'test', 'th', 'theater',
       'themselv', 'thi', 'thief', 'thing', 'think', 'thoma', 'thought',
       'threaten', 'thril', 'thriller', 'throw', 'tim', 'time', 'tl',
       'today', 'togeth', 'tokyo', 'told', 'tom', 'took', 'torn', 'tour',
       'town', 'tr', 'track', 'tradit', 'tragic', 'train', 'transform',
       'trap', 'travel', 'tri', 'trip', 'troubl', 'true', 'truth', 'turn',
       'tv', 'tvmovi', 'twist', 'ultim', 'unabl', 'uncl', 'uncov',
       'understand', 'unexpect', 'unexpectedli', 'unfortun', 'uniqu',
       'unit', 'univers', 'unknown', 'unravel', 'use', 'vacat', 'vampir',
       'variou', 'veri', 'version', 'victim', 'video', 'view', 'villag',
       'violenc', 'violent', 'vision', 'visit', 'voic', 'wa', 'wait',
       'wake', 'walk', 'wander', 'want', 'war', 'watch', 'water', 'way',
       'wealthi', 'wed', 'weekend', 'west', 'western', 'whi', 'white',
       'widow', 'wife', 'wild', 'william', 'win', 'wish', 'wit', 'woman',
       'women', 'won', 'wonder', 'woo', 'wood', 'work', 'worker', 'world',
       'write', 'writer', 'written', 'wrong', 'year', 'years', 'york',
       'young', 'younger', 'youth', 'zh'], dtype=object)

In [37]:
def recommend(movie):
    movie_index = newdf[newdf['title'] == movie].index[0]
    distances = similarity_matrix[movie_index]
    distances_sorted_indices = distances.argsort()[::-1]
    
    for i in distances_sorted_indices[1:11]:
        print(newdf.iloc[i].title)

In [39]:
recommend('Kenali')

Spiritual Agony
Holes
Housesitter
Pupus
Angry Ladybug
The Film Critic
Portnoy's Complaint
Marie des angoisses
Hafez
Tanu Weds Manu: Returns

In [40]:
import pickle

In [41]:
pickle.dump(newdf.to_dict(), open('movies.pkl','wb'))

In [42]:
chunk_size = 1000

num_rows, num_cols = similarity_matrix.shape

with open('similarity_matrix.pkl', 'wb') as f:
    pickle.dump(similarity_matrix.shape, f)
    
    for i in range(0, num_rows, chunk_size):
        start = i
        end = min(i + chunk_size, num_rows)
        chunk = similarity_matrix[start:end, :]
        pickle.dump(chunk, f)